:host {
	display: block;
	cursor: pointer;
}
:host(:hover) {
	text-decoration: underline;
}

:host:before {
	display: inline-block;
	content: "\2714";
	width: 1em;
	color: green;
	visibility: hidden;
}

:host([checked]):before {
	visibility: visible;
}
:host([checked="*"]):before {
	content: "\273D";
	color: red;
}